
/* 
---------------------------------------------
Top Streamers Style
--------------------------------------------- 
*/

.top-streamers {
    border-radius: 23px;
    background-color: #1f2122;
    padding: 30px;
    max-height: 567px;
    min-height: 567px;
  }
  
  .top-streamers ul li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #353637;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  
  .top-streamers ul li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
  .top-streamers ul li span {
    float: left;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    padding-top: 12px;
    margin-right: 10px;
  }
  
  .top-streamers ul li h6 {
    display: inline;
    font-size: 14px;
    color: #ec6090;
    font-weight: 400;
  }
  
  .top-streamers ul li h6 i {
    color: #fff;
    background-color: #ec6090;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-right: 3px;
  }
  
  .top-streamers ul li .main-button {
    float: right;
  }
  
  .top-streamers ul li .main-button a {
    padding: 8px 20px;
  }